In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import glob

In [28]:
#pd.options.display.max_columns = None
#pd.options.display.max_rows = None

In [29]:
df = pd.read_csv("Athenas_Grecia_Dt.csv")
df.head()

,Unnamed: 0,id,last_scraped,source,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,27262,2024-12-25,city scrape,37177,within an hour,100%,100%,t,4,...,4.86,4.97,4.75,4.71,00002433111,1,1,0,0,0.19
1,1,809874,2024-12-25,city scrape,4259738,within an hour,100%,96%,f,2,...,4.89,4.92,4.86,4.91,00001240742,1,1,0,0,0.68
2,2,866381,2024-12-25,city scrape,4551671,within a few hours,100%,97%,t,1,...,4.93,4.93,4.73,4.90,00002608390,1,1,0,0,0.28
3,3,886724,2024-12-25,city scrape,4700824,NaN,NaN,0%,f,1,...,4.88,4.89,4.28,4.72,00000052101,1,1,0,0,0.14
4,4,896212,2024-12-25,city scrape,4777984,within an hour,95%,100%,t,29,...,4.97,4.93,4.82,4.93,00000206136,13,13,0,0,3.58

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14642 entries, 0 to 14641
Data columns (total 51 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Unnamed: 0                                    14642 non-null  int64
 1   id                                            14642 non-null  int64
 2   last_scraped                                  14642 non-null  object
 3   source                                        14642 non-null  object
 4   host_id                                       14642 non-null  int64
 5   host_response_time                            12903 non-null  object
 6   host_response_rate                            12903 non-null  object
 7   host_acceptance_rate                          13811 non-null  object
 8   host_is_superhost                             13868 non-null  object
 9   host_listings_count                           14642 non-null  int64
 10  host_total_listings_count                     14642 non-null  int64
 11  host_verifications                            14642 non-null  object
 12  neighbourhood                                 7698 non-null   object
 13  latitude                                      14642 non-null  float64
 14  longitude                                     14642 non-null  float64
 15  property_type                                 14642 non-null  object
 16  room_type                                     14642 non-null  object
 17  accommodates                                  14642 non-null  int64
 18  bathrooms                                     13717 non-null  float64
 19  bedrooms                                      14559 non-null  float64
 20  beds                                          13693 non-null  float64
 21  amenities                                     14642 non-null  object
 22  price                                         13722 non-null  object
 23  minimum_nights                                14642 non-null  int64
 24  maximum_nights                                14642 non-null  int64
 25  minimum_minimum_nights                        14642 non-null  int64
 26  maximum_minimum_nights                        14642 non-null  int64
 27  minimum_maximum_nights                        14642 non-null  int64
 28  maximum_maximum_nights                        14642 non-null  int64
 29  minimum_nights_avg_ntm                        14642 non-null  float64
 30  maximum_nights_avg_ntm                        14642 non-null  float64
 31  availability_30                               14642 non-null  int64
 32  availability_60                               14642 non-null  int64
 33  availability_90                               14642 non-null  int64
 34  availability_365                              14642 non-null  int64
 35  number_of_reviews                             14642 non-null  int64
 36  number_of_reviews_ltm                         14642 non-null  int64
 37  number_of_reviews_l30d                        14642 non-null  int64
 38  review_scores_rating                          12329 non-null  float64
 39  review_scores_accuracy                        12329 non-null  float64
 40  review_scores_cleanliness                     12329 non-null  float64
 41  review_scores_checkin                         12329 non-null  float64
 42  review_scores_communication                   12329 non-null  float64
 43  review_scores_location                        12329 non-null  float64
 44  review_scores_value                           12329 non-null  float64
 45  license                                       14448 non-null  object
 46  calculated_host_listings_count                14642 non-null  int64
 47  calculated_host_listings_count_entire_homes   14642 non-null  int64
 48  calculated_host_listings_count_private_rooms  14642 non-null  int64
 49  calculated_host_listings_count_shared_rooms   14642 non-null  int64
 50  reviews_per_month                             12329 non-null  float64
dtypes: float64(15), int64(23), object(13)
memory usage: 5.7+ MB

In [31]:
#Registros del host que el response rate sea mayor a 95% y que no sean superhosts
filtro9=df[(df["host_response_rate"] > "95%") & (df["host_is_superhost"] == "f")]

filtro9.to_csv("Filtro9.csv")
filtro9

,Unnamed: 0,id,last_scraped,source,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
1094,1094,20065196,2024-12-25,city scrape,129000409,within an hour,99%,99%,f,252,...,4.69,4.59,4.66,4.50,00000525232,24,24,0,0,0.42
1095,1095,20080484,2024-12-25,city scrape,129000409,within an hour,99%,99%,f,252,...,4.59,4.62,4.78,4.49,00000525221,24,24,0,0,0.89
1096,1096,20080487,2024-12-25,city scrape,129000409,within an hour,99%,99%,f,252,...,4.91,4.66,4.91,4.68,00000525210,24,24,0,0,0.52
1673,1673,25135178,2024-12-25,city scrape,189967864,within an hour,98%,98%,f,64,...,4.62,4.62,4.23,4.62,00000978646,40,40,0,0,0.16
1817,1817,26390070,2024-12-25,city scrape,129000409,within an hour,99%,99%,f,252,...,3.82,4.45,4.36,4.18,1123921,24,24,0,0,0.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14622,14622,1314998243098768184,2024-12-25,city scrape,584615565,within an hour,99%,97%,f,43,...,NaN,NaN,NaN,NaN,Exempt,28,28,0,0,NaN
14623,14623,1315000661289338849,2024-12-25,city scrape,584615565,within an hour,99%,97%,f,43,...,NaN,NaN,NaN,NaN,Exempt,28,28,0,0,NaN
14624,14624,1315002263198841817,2024-12-25,city scrape,584615565,within an hour,99%,97%,f,43,...,NaN,NaN,NaN,NaN,Exempt,28,28,0,0,NaN
14625,14625,1315003960005177485,2024-12-25,city scrape,584615565,within an hour,99%,97%,f,43,...,NaN,NaN,NaN,NaN,Exempt,28,28,0,0,NaN
14626,14626,1315003980454439756,2024-12-25,city scrape,584615565,within an hour,99%,97%,f,43,...,NaN,NaN,NaN,NaN,Exempt,28,28,0,0,NaN

In [32]:
#Los registros que no tengas 1 baÃ±o 
filtro10 = df[~(df["bathrooms"] == 1)]

filtro10.to_csv("Filtro10.csv")
filtro10

,Unnamed: 0,id,last_scraped,source,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
6,6,912425,2024-12-25,city scrape,4895605,NaN,NaN,100%,t,1,...,4.97,4.97,4.61,4.84,00000348986,1,1,0,0,0.83
8,8,49489,2024-12-26,city scrape,225612,within an hour,100%,79%,f,1,...,4.84,4.86,4.88,4.70,00000876484,1,1,0,0,0.86
15,15,270954,2024-12-26,previous scrape,1418201,within an hour,100%,99%,t,40,...,5.00,4.92,4.60,4.60,00002962733,39,39,0,0,0.16
16,16,940213,2024-12-26,previous scrape,1418201,within an hour,100%,99%,t,40,...,4.83,4.97,4.86,4.76,00002962707,39,39,0,0,0.22
18,18,956538,2024-12-25,city scrape,229526838,within an hour,100%,100%,t,18,...,4.88,4.94,4.69,4.86,00001936549,11,8,3,0,0.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14611,14611,1317368242438948310,2024-12-25,city scrape,247760219,within an hour,100%,100%,f,3,...,NaN,NaN,NaN,NaN,00002258155,3,3,0,0,NaN
14615,14615,1317916472188438427,2024-12-25,city scrape,665524405,NaN,NaN,NaN,f,2,...,NaN,NaN,NaN,NaN,00002392911,2,2,0,0,NaN
14635,14635,1318194713882834447,2024-12-25,city scrape,400263201,within an hour,100%,85%,t,9,...,NaN,NaN,NaN,NaN,00002981356,2,2,0,0,NaN
14636,14636,1318247811815176103,2024-12-25,city scrape,7478461,within an hour,100%,100%,f,2,...,NaN,NaN,NaN,NaN,00003110106,1,1,0,0,NaN
14639,14639,1318307768558324736,2024-12-25,city scrape,221534605,within a few hours,86%,98%,f,53,...,NaN,NaN,NaN,NaN,00002764099,23,23,0,0,NaN

In [33]:
#Eliminar un signo de una columna 
df['price']=df['price'].str.replace('$', '')
df['price']=df['price'].str.replace(',', '')

In [34]:
#ConversiÃ³n de tipo de dato de columna de tipo Object a Float
df['price']= df['price'].astype(float)
df

,Unnamed: 0,id,last_scraped,source,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,27262,2024-12-25,city scrape,37177,within an hour,100%,100%,t,4,...,4.86,4.97,4.75,4.71,00002433111,1,1,0,0,0.19
1,1,809874,2024-12-25,city scrape,4259738,within an hour,100%,96%,f,2,...,4.89,4.92,4.86,4.91,00001240742,1,1,0,0,0.68
2,2,866381,2024-12-25,city scrape,4551671,within a few hours,100%,97%,t,1,...,4.93,4.93,4.73,4.90,00002608390,1,1,0,0,0.28
3,3,886724,2024-12-25,city scrape,4700824,NaN,NaN,0%,f,1,...,4.88,4.89,4.28,4.72,00000052101,1,1,0,0,0.14
4,4,896212,2024-12-25,city scrape,4777984,within an hour,95%,100%,t,29,...,4.97,4.93,4.82,4.93,00000206136,13,13,0,0,3.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14637,14637,1318251942056598277,2024-12-26,city scrape,25811452,within an hour,100%,100%,t,3,...,NaN,NaN,NaN,NaN,00003108542,3,3,0,0,NaN
14638,14638,1318276742106864141,2024-12-25,city scrape,666320836,within a few hours,100%,NaN,f,2,...,NaN,NaN,NaN,NaN,00002888548,1,1,0,0,NaN
14639,14639,1318307768558324736,2024-12-25,city scrape,221534605,within a few hours,86%,98%,f,53,...,NaN,NaN,NaN,NaN,00002764099,23,23,0,0,NaN
14640,14640,1318405788507138933,2024-12-25,city scrape,650411545,NaN,NaN,NaN,f,1,...,NaN,NaN,NaN,NaN,00003072289,1,1,0,0,NaN
14641,14641,1318601800941001079,2024-12-25,city scrape,31290848,within an hour,100%,100%,NaN,109,...,NaN,NaN,NaN,NaN,00003026761,70,70,0,0,NaN

In [35]:
#Lors registros que este en un precio de 100 y 200
filtro11=df[(df["price"] <= 200) & (df["price"] >= 100)]


filtro11.to_csv("Filtro11.csv")
filtro11

,Unnamed: 0,id,last_scraped,source,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,27262,2024-12-25,city scrape,37177,within an hour,100%,100%,t,4,...,4.86,4.97,4.75,4.71,00002433111,1,1,0,0,0.19
1,1,809874,2024-12-25,city scrape,4259738,within an hour,100%,96%,f,2,...,4.89,4.92,4.86,4.91,00001240742,1,1,0,0,0.68
6,6,912425,2024-12-25,city scrape,4895605,NaN,NaN,100%,t,1,...,4.97,4.97,4.61,4.84,00000348986,1,1,0,0,0.83
8,8,49489,2024-12-26,city scrape,225612,within an hour,100%,79%,f,1,...,4.84,4.86,4.88,4.70,00000876484,1,1,0,0,0.86
18,18,956538,2024-12-25,city scrape,229526838,within an hour,100%,100%,t,18,...,4.88,4.94,4.69,4.86,00001936549,11,8,3,0,0.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14596,14596,1316840970216967755,2024-12-25,city scrape,12253727,within a few hours,60%,89%,NaN,18,...,NaN,NaN,NaN,NaN,00002288953,5,5,0,0,NaN
14598,14598,1316880803984154850,2024-12-25,city scrape,198335475,NaN,NaN,NaN,f,1,...,NaN,NaN,NaN,NaN,NaN,1,1,0,0,NaN
14635,14635,1318194713882834447,2024-12-25,city scrape,400263201,within an hour,100%,85%,t,9,...,NaN,NaN,NaN,NaN,00002981356,2,2,0,0,NaN
14636,14636,1318247811815176103,2024-12-25,city scrape,7478461,within an hour,100%,100%,f,2,...,NaN,NaN,NaN,NaN,00003110106,1,1,0,0,NaN
14637,14637,1318251942056598277,2024-12-26,city scrape,25811452,within an hour,100%,100%,t,3,...,NaN,NaN,NaN,NaN,00003108542,3,3,0,0,NaN

In [36]:
#Los registros que sean kisting count mayor a 10 y que tenga un review score menor que 4.5
#No tengo las variables de instant_bookable y la de host_identity_verified
filtro12=df[(df["host_listings_count"] < 10) & (df["review_scores_value"] > 4.5 )]

filtro12.to_csv("Filtro12.csv")
filtro12

,Unnamed: 0,id,last_scraped,source,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,27262,2024-12-25,city scrape,37177,within an hour,100%,100%,t,4,...,4.86,4.97,4.75,4.71,00002433111,1,1,0,0,0.19
1,1,809874,2024-12-25,city scrape,4259738,within an hour,100%,96%,f,2,...,4.89,4.92,4.86,4.91,00001240742,1,1,0,0,0.68
2,2,866381,2024-12-25,city scrape,4551671,within a few hours,100%,97%,t,1,...,4.93,4.93,4.73,4.90,00002608390,1,1,0,0,0.28
3,3,886724,2024-12-25,city scrape,4700824,NaN,NaN,0%,f,1,...,4.88,4.89,4.28,4.72,00000052101,1,1,0,0,0.14
6,6,912425,2024-12-25,city scrape,4895605,NaN,NaN,100%,t,1,...,4.97,4.97,4.61,4.84,00000348986,1,1,0,0,0.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14371,14371,1310622749751608788,2024-12-26,city scrape,578781539,within an hour,100%,100%,t,4,...,5.00,5.00,5.00,5.00,00003068876,4,4,0,0,2.00
14377,14377,1307335944358286554,2024-12-25,city scrape,147874382,within an hour,100%,100%,f,4,...,5.00,5.00,5.00,5.00,00002378983,2,2,0,0,5.00
14379,14379,1307411338007761663,2024-12-25,city scrape,108117236,within an hour,100%,100%,f,2,...,5.00,5.00,5.00,5.00,00002894630,1,1,0,0,1.00
14538,14538,1313080304739006263,2024-12-25,city scrape,538817855,within an hour,100%,100%,f,3,...,5.00,5.00,5.00,5.00,00003005656,2,2,0,0,1.00
14567,14567,1316119721278003591,2024-12-25,city scrape,95852821,within an hour,100%,100%,f,2,...,5.00,5.00,5.00,5.00,00002979590,1,1,0,0,1.00

In [37]:
#Los registros de los tipo de cuarto hotel room y private room 
filtro13=df[(df["room_type"] == "Hotel room") | (df["room_type"] == "Private room")]

filtro13.to_csv("Filtro13.csv")
filtro13

,Unnamed: 0,id,last_scraped,source,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
79,79,1473284,2024-12-25,city scrape,6993450,a few days or more,0%,0%,f,2,...,5.00,5.00,4.73,4.80,NaN,2,1,1,0,0.11
82,82,726412,2024-12-25,city scrape,2534881,within an hour,100%,97%,t,3,...,4.25,4.50,4.75,4.50,7608173,2,1,1,0,0.03
108,108,1826249,2024-12-25,city scrape,9556344,within an hour,100%,100%,t,1,...,4.94,4.98,4.68,4.93,00000128461,1,0,1,0,2.94
116,116,3842078,2024-12-25,city scrape,19287310,within an hour,100%,100%,f,1,...,5.00,5.00,5.00,5.00,NaN,1,0,1,0,0.90
130,130,4178088,2024-12-25,city scrape,443874,within an hour,100%,100%,f,4,...,4.77,4.71,4.89,4.55,00000599067,4,2,2,0,1.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14407,14407,1308104652390444032,2024-12-26,city scrape,193413329,NaN,NaN,100%,f,1,...,NaN,NaN,NaN,NaN,00002909814,1,0,1,0,NaN
14472,14472,1309262970261806478,2024-12-25,city scrape,579189732,within an hour,100%,86%,f,28,...,NaN,NaN,NaN,NaN,00002961370,27,3,24,0,NaN
14473,14473,1309294301569411676,2024-12-25,city scrape,579189732,within an hour,100%,86%,f,28,...,NaN,NaN,NaN,NaN,00002961370,27,3,24,0,NaN
14521,14521,1312821310022097017,2024-12-25,city scrape,194684833,within an hour,100%,29%,f,2,...,NaN,NaN,NaN,NaN,00003074214,2,1,1,0,NaN
14545,14545,1315797268718698104,2024-12-25,city scrape,667895218,NaN,NaN,100%,f,1,...,NaN,NaN,NaN,NaN,00003030759,1,0,1,0,NaN

In [38]:
#Los registros que tengan mÃ¡s de 4 accomodates
filtro14=df[df["accommodates"] > 4]

filtro14.to_csv("Filtro14.csv")
filtro14

,Unnamed: 0,id,last_scraped,source,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
6,6,912425,2024-12-25,city scrape,4895605,NaN,NaN,100%,t,1,...,4.97,4.97,4.61,4.84,00000348986,1,1,0,0,0.83
8,8,49489,2024-12-26,city scrape,225612,within an hour,100%,79%,f,1,...,4.84,4.86,4.88,4.70,00000876484,1,1,0,0,0.86
14,14,270611,2024-12-25,city scrape,1416651,a few days or more,0%,50%,f,1,...,4.89,4.80,4.22,4.60,00000040022,1,1,0,0,0.31
16,16,940213,2024-12-26,previous scrape,1418201,within an hour,100%,99%,t,40,...,4.83,4.97,4.86,4.76,00002962707,39,39,0,0,0.22
17,17,947552,2024-12-25,city scrape,5136160,within a few hours,100%,100%,f,1,...,4.92,4.98,4.91,4.53,00000243065,1,1,0,0,0.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14613,14613,1317425924021383480,2024-12-25,city scrape,74343759,within an hour,100%,100%,t,38,...,NaN,NaN,NaN,NaN,00003008980,23,23,0,0,NaN
14619,14619,1314984228470943170,2024-12-25,city scrape,584615565,within an hour,99%,97%,f,43,...,NaN,NaN,NaN,NaN,Exempt,28,28,0,0,NaN
14630,14630,1317984161119692105,2024-12-25,city scrape,509542156,within an hour,100%,100%,t,7,...,NaN,NaN,NaN,NaN,00003098511,7,7,0,0,NaN
14635,14635,1318194713882834447,2024-12-25,city scrape,400263201,within an hour,100%,85%,t,9,...,NaN,NaN,NaN,NaN,00002981356,2,2,0,0,NaN
14636,14636,1318247811815176103,2024-12-25,city scrape,7478461,within an hour,100%,100%,f,2,...,NaN,NaN,NaN,NaN,00003110106,1,1,0,0,NaN