In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import glob

In [ ]:
#pd.options.display.max_columns = None
#pd.options.display.max_rows = None

In [2]:
df = pd.read_csv("Athenas_Grecia_Dt.csv")
df.head()

,Unnamed: 0,id,last_scraped,source,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,27262,2024-12-25,city scrape,37177,within an hour,100%,100%,t,4,...,4.86,4.97,4.75,4.71,00002433111,1,1,0,0,0.19
1,1,809874,2024-12-25,city scrape,4259738,within an hour,100%,96%,f,2,...,4.89,4.92,4.86,4.91,00001240742,1,1,0,0,0.68
2,2,866381,2024-12-25,city scrape,4551671,within a few hours,100%,97%,t,1,...,4.93,4.93,4.73,4.90,00002608390,1,1,0,0,0.28
3,3,886724,2024-12-25,city scrape,4700824,NaN,NaN,0%,f,1,...,4.88,4.89,4.28,4.72,00000052101,1,1,0,0,0.14
4,4,896212,2024-12-25,city scrape,4777984,within an hour,95%,100%,t,29,...,4.97,4.93,4.82,4.93,00000206136,13,13,0,0,3.58

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14642 entries, 0 to 14641
Data columns (total 51 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Unnamed: 0                                    14642 non-null  int64
 1   id                                            14642 non-null  int64
 2   last_scraped                                  14642 non-null  object
 3   source                                        14642 non-null  object
 4   host_id                                       14642 non-null  int64
 5   host_response_time                            12903 non-null  object
 6   host_response_rate                            12903 non-null  object
 7   host_acceptance_rate                          13811 non-null  object
 8   host_is_superhost                             13868 non-null  object
 9   host_listings_count                           14642 non-null  int64
 10  host_total_listings_count                     14642 non-null  int64
 11  host_verifications                            14642 non-null  object
 12  neighbourhood                                 7698 non-null   object
 13  latitude                                      14642 non-null  float64
 14  longitude                                     14642 non-null  float64
 15  property_type                                 14642 non-null  object
 16  room_type                                     14642 non-null  object
 17  accommodates                                  14642 non-null  int64
 18  bathrooms                                     13717 non-null  float64
 19  bedrooms                                      14559 non-null  float64
 20  beds                                          13693 non-null  float64
 21  amenities                                     14642 non-null  object
 22  price                                         13722 non-null  object
 23  minimum_nights                                14642 non-null  int64
 24  maximum_nights                                14642 non-null  int64
 25  minimum_minimum_nights                        14642 non-null  int64
 26  maximum_minimum_nights                        14642 non-null  int64
 27  minimum_maximum_nights                        14642 non-null  int64
 28  maximum_maximum_nights                        14642 non-null  int64
 29  minimum_nights_avg_ntm                        14642 non-null  float64
 30  maximum_nights_avg_ntm                        14642 non-null  float64
 31  availability_30                               14642 non-null  int64
 32  availability_60                               14642 non-null  int64
 33  availability_90                               14642 non-null  int64
 34  availability_365                              14642 non-null  int64
 35  number_of_reviews                             14642 non-null  int64
 36  number_of_reviews_ltm                         14642 non-null  int64
 37  number_of_reviews_l30d                        14642 non-null  int64
 38  review_scores_rating                          12329 non-null  float64
 39  review_scores_accuracy                        12329 non-null  float64
 40  review_scores_cleanliness                     12329 non-null  float64
 41  review_scores_checkin                         12329 non-null  float64
 42  review_scores_communication                   12329 non-null  float64
 43  review_scores_location                        12329 non-null  float64
 44  review_scores_value                           12329 non-null  float64
 45  license                                       14448 non-null  object
 46  calculated_host_listings_count                14642 non-null  int64
 47  calculated_host_listings_count_entire_homes   14642 non-null  int64
 48  calculated_host_listings_count_private_rooms  14642 non-null  int64
 49  calculated_host_listings_count_shared_rooms   14642 non-null  int64
 50  reviews_per_month                             12329 non-null  float64
dtypes: float64(15), int64(23), object(13)
memory usage: 5.7+ MB

In [4]:
#En vez de Nombre es  el de los 5 host_ID
filtro1=df[(df["host_id"]== 37177 ) | (df["host_id"]== 4259738 ) | (df["host_id"]== 4551671 ) | (df["host_id"]== 4700824 ) | (df["host_id"]== 4777984) ]

filtro1.to_csv("Filtro1.csv")
filtro1

,Unnamed: 0,id,last_scraped,source,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,27262,2024-12-25,city scrape,37177,within an hour,100%,100%,t,4,...,4.86,4.97,4.75,4.71,00002433111,1,1,0,0,0.19
1,1,809874,2024-12-25,city scrape,4259738,within an hour,100%,96%,f,2,...,4.89,4.92,4.86,4.91,00001240742,1,1,0,0,0.68
2,2,866381,2024-12-25,city scrape,4551671,within a few hours,100%,97%,t,1,...,4.93,4.93,4.73,4.90,00002608390,1,1,0,0,0.28
3,3,886724,2024-12-25,city scrape,4700824,NaN,NaN,0%,f,1,...,4.88,4.89,4.28,4.72,00000052101,1,1,0,0,0.14
4,4,896212,2024-12-25,city scrape,4777984,within an hour,95%,100%,t,29,...,4.97,4.93,4.82,4.93,00000206136,13,13,0,0,3.58
5,5,905315,2024-12-25,city scrape,4777984,within an hour,95%,100%,t,29,...,4.97,4.94,4.81,4.91,00000206001,13,13,0,0,3.53
886,886,18250369,2024-12-25,city scrape,4777984,within an hour,95%,100%,t,29,...,4.89,4.91,4.88,4.75,00002014589,13,13,0,0,3.50
1207,1207,21650426,2024-12-25,city scrape,4777984,within an hour,95%,100%,t,29,...,4.97,4.99,4.76,4.87,00001959360,13,13,0,0,3.87
1233,1233,21057863,2024-12-26,previous scrape,4777984,within an hour,95%,100%,t,29,...,4.92,4.92,4.95,4.82,00001993338,13,13,0,0,3.09
2772,2772,33881866,2024-12-26,previous scrape,4777984,within an hour,95%,100%,t,29,...,4.92,4.97,4.97,4.86,00002552013,13,13,0,0,5.46
3627,3627,41072425,2024-12-25,city scrape,4777984,within an hour,95%,100%,t,29,...,4.95,4.96,4.80,4.86,00001993359,13,13,0,0,3.82
5435,5435,569353269833043255,2024-12-25,city scrape,4777984,within an hour,95%,100%,t,29,...,4.94,4.98,4.69,4.69,00002760660,13,13,0,0,1.88
6034,6034,651374958985277215,2024-12-26,city scrape,4777984,within an hour,95%,100%,t,29,...,4.95,4.98,4.99,4.91,00001957680,13,13,0,0,5.77
7777,7777,878155866418998955,2024-12-25,city scrape,4777984,within an hour,95%,100%,t,29,...,4.96,4.85,4.92,4.85,00001957713,13,13,0,0,1.46
7778,7778,878156353705370159,2024-12-26,city scrape,4777984,within an hour,95%,100%,t,29,...,4.94,4.91,4.94,4.78,00002015210,13,13,0,0,4.04
8958,8958,949852815445659662,2024-12-26,city scrape,4777984,within an hour,95%,100%,t,29,...,4.92,4.89,4.94,4.62,00002116740,13,13,0,0,4.30
14582,14582,1314383120229282119,2024-12-25,city scrape,4777984,within an hour,95%,100%,t,29,...,NaN,NaN,NaN,NaN,00003082703,13,13,0,0,NaN

In [5]:
#Registros despues del aÃ±o 2020
filtro2=df[df["last_scraped"] >= "2020-01-01"]

filtro2.to_csv("Filtro2.csv")
filtro2

,Unnamed: 0,id,last_scraped,source,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,27262,2024-12-25,city scrape,37177,within an hour,100%,100%,t,4,...,4.86,4.97,4.75,4.71,00002433111,1,1,0,0,0.19
1,1,809874,2024-12-25,city scrape,4259738,within an hour,100%,96%,f,2,...,4.89,4.92,4.86,4.91,00001240742,1,1,0,0,0.68
2,2,866381,2024-12-25,city scrape,4551671,within a few hours,100%,97%,t,1,...,4.93,4.93,4.73,4.90,00002608390,1,1,0,0,0.28
3,3,886724,2024-12-25,city scrape,4700824,NaN,NaN,0%,f,1,...,4.88,4.89,4.28,4.72,00000052101,1,1,0,0,0.14
4,4,896212,2024-12-25,city scrape,4777984,within an hour,95%,100%,t,29,...,4.97,4.93,4.82,4.93,00000206136,13,13,0,0,3.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14637,14637,1318251942056598277,2024-12-26,city scrape,25811452,within an hour,100%,100%,t,3,...,NaN,NaN,NaN,NaN,00003108542,3,3,0,0,NaN
14638,14638,1318276742106864141,2024-12-25,city scrape,666320836,within a few hours,100%,NaN,f,2,...,NaN,NaN,NaN,NaN,00002888548,1,1,0,0,NaN
14639,14639,1318307768558324736,2024-12-25,city scrape,221534605,within a few hours,86%,98%,f,53,...,NaN,NaN,NaN,NaN,00002764099,23,23,0,0,NaN
14640,14640,1318405788507138933,2024-12-25,city scrape,650411545,NaN,NaN,NaN,f,1,...,NaN,NaN,NaN,NaN,00003072289,1,1,0,0,NaN
14641,14641,1318601800941001079,2024-12-25,city scrape,31290848,within an hour,100%,100%,NaN,109,...,NaN,NaN,NaN,NaN,00003026761,70,70,0,0,NaN

In [6]:
#Analizar categorias de una columna
cat_hrt = df.groupby(['host_response_time'])['host_response_time'].count()
cat_hrt

host_response_time
a few days or more      142
within a day            393
within a few hours      778
within an hour        11590
Name: host_response_time, dtype: int64

In [7]:
filtro3=df[(df["host_response_time"] == "within a day") | (df["host_response_time"] == "within a few hours") | (df["host_response_time"] == "within an hour")]

filtro3.to_csv("Filtro3.csv")
filtro3

,Unnamed: 0,id,last_scraped,source,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,27262,2024-12-25,city scrape,37177,within an hour,100%,100%,t,4,...,4.86,4.97,4.75,4.71,00002433111,1,1,0,0,0.19
1,1,809874,2024-12-25,city scrape,4259738,within an hour,100%,96%,f,2,...,4.89,4.92,4.86,4.91,00001240742,1,1,0,0,0.68
2,2,866381,2024-12-25,city scrape,4551671,within a few hours,100%,97%,t,1,...,4.93,4.93,4.73,4.90,00002608390,1,1,0,0,0.28
4,4,896212,2024-12-25,city scrape,4777984,within an hour,95%,100%,t,29,...,4.97,4.93,4.82,4.93,00000206136,13,13,0,0,3.58
5,5,905315,2024-12-25,city scrape,4777984,within an hour,95%,100%,t,29,...,4.97,4.94,4.81,4.91,00000206001,13,13,0,0,3.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14636,14636,1318247811815176103,2024-12-25,city scrape,7478461,within an hour,100%,100%,f,2,...,NaN,NaN,NaN,NaN,00003110106,1,1,0,0,NaN
14637,14637,1318251942056598277,2024-12-26,city scrape,25811452,within an hour,100%,100%,t,3,...,NaN,NaN,NaN,NaN,00003108542,3,3,0,0,NaN
14638,14638,1318276742106864141,2024-12-25,city scrape,666320836,within a few hours,100%,NaN,f,2,...,NaN,NaN,NaN,NaN,00002888548,1,1,0,0,NaN
14639,14639,1318307768558324736,2024-12-25,city scrape,221534605,within a few hours,86%,98%,f,53,...,NaN,NaN,NaN,NaN,00002764099,23,23,0,0,NaN
14641,14641,1318601800941001079,2024-12-25,city scrape,31290848,within an hour,100%,100%,NaN,109,...,NaN,NaN,NaN,NaN,00003026761,70,70,0,0,NaN

In [8]:
#Multiplos de 200 
filtro4 = df.iloc[[200,400,600,800,1000,1200,1400,1600,1800,2000,2200,
                  2400,2600,2800,3000,3200,3400,3600,3800,4000,4200,4400,
                  4600,4800,5000,5200,5400,5600,5800,6000,6200,6400,6600,6800,
                  7000,7200,7400,7600,7800,8000,8200,8400,8600,8800,9000,
                  9200,9400,9600,9800], : ] #columnas en multiplo 

filtro4.to_csv("Filtro4.csv")
filtro4

,Unnamed: 0,id,last_scraped,source,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
200,200,2973483,2024-12-25,city scrape,15167857,NaN,NaN,0%,f,2,...,4.86,4.79,4.90,4.61,00000477435,2,1,1,0,1.47
400,400,11312612,2024-12-25,city scrape,31228567,within an hour,100%,100%,t,6,...,4.98,4.99,4.99,4.92,00002909304,6,6,0,0,2.44
600,600,13621619,2024-12-25,city scrape,77926998,within an hour,100%,100%,f,21,...,4.96,4.93,4.20,4.76,00003060659,14,14,0,0,2.68
800,800,17281679,2024-12-25,city scrape,23237717,within an hour,100%,100%,f,2,...,4.87,4.91,4.49,4.57,00000246204,1,1,0,0,1.21
1000,1000,19613468,2024-12-25,city scrape,61521694,within an hour,100%,100%,t,1,...,4.98,4.98,4.68,4.89,00000016384,1,1,0,0,1.94
1200,1200,20938041,2024-12-25,city scrape,70768317,within a few hours,100%,100%,f,1,...,4.95,4.90,4.60,4.80,00000061670,1,1,0,0,0.23
1400,1400,23194228,2024-12-25,city scrape,77457889,within a day,100%,95%,f,46,...,4.45,4.65,4.20,4.60,00000326984,35,35,0,0,0.25
1600,1600,24487266,2024-12-25,city scrape,184971311,within an hour,95%,100%,t,19,...,4.92,4.90,5.00,4.82,00000111640,19,19,0,0,1.29
1800,1800,26299378,2024-12-25,city scrape,132374216,within an hour,100%,100%,t,1,...,4.95,4.99,4.96,4.88,00000081784,1,1,0,0,2.94
2000,2000,27246550,2024-12-26,city scrape,205209765,NaN,NaN,NaN,f,5,...,NaN,NaN,NaN,NaN,1070593,5,0,0,0,NaN
2200,2200,29701261,2024-12-25,city scrape,223507529,within an hour,100%,100%,t,2,...,5.00,5.00,4.88,4.97,00001560534,2,2,0,0,1.07
2400,2400,31139423,2024-12-25,city scrape,114156592,within an hour,100%,100%,t,297,...,5.00,5.00,5.00,5.00,0206E70000698401,58,42,15,0,0.11
2600,2600,32841822,2024-12-25,city scrape,247064842,within an hour,100%,93%,t,1,...,4.88,4.89,4.13,4.84,00000589354,1,1,0,0,0.79
2800,2800,34383756,2024-12-25,city scrape,259575633,within an hour,100%,100%,t,1,...,4.94,4.95,4.93,4.74,00001208072,1,1,0,0,2.59
3000,3000,35103883,2024-12-25,city scrape,259969589,within an hour,100%,100%,f,22,...,5.00,5.00,5.00,5.00,00000860816,22,22,0,0,0.17
3200,3200,36316809,2024-12-25,city scrape,273125067,within an hour,100%,100%,f,1,...,5.00,5.00,4.77,4.85,00002909729,1,1,0,0,0.20
3400,3400,38519936,2024-12-25,city scrape,185848682,within a few hours,83%,100%,t,1,...,4.96,4.95,4.59,4.94,00000864480,1,1,0,0,1.92
3600,3600,40300131,2024-12-26,previous scrape,129204185,within an hour,100%,100%,NaN,9,...,4.90,4.90,4.97,4.84,00000906750,4,4,0,0,6.34
3800,3800,42440320,2024-12-25,city scrape,63903716,within an hour,100%,97%,t,62,...,4.83,5.00,4.50,5.00,00002993311,61,18,43,0,0.14
4000,4000,44095149,2024-12-25,city scrape,12425849,within an hour,100%,100%,f,2,...,4.90,4.88,4.78,4.90,00001193881,2,2,0,0,0.92
4200,4200,45982567,2024-12-26,previous scrape,244307919,within an hour,100%,100%,t,1,...,4.91,4.99,4.93,4.88,00001111932,1,1,0,0,1.63
4400,4400,49453258,2024-12-25,city scrape,175796661,within an hour,90%,99%,f,12,...,4.75,4.94,5.00,4.94,1055714,5,5,0,0,0.38
4600,4600,50767528,2024-12-25,city scrape,67904289,within an hour,100%,99%,t,2,...,4.90,4.93,4.98,4.83,00001257138,1,1,0,0,2.46
4800,4800,51572872,2024-12-25,city scrape,13031654,within an hour,100%,100%,f,38,...,4.92,4.97,3.85,4.70,1332352,38,38,0,0,2.22
5000,5000,52977230,2024-12-25,city scrape,330622463,within an hour,100%,100%,t,59,...,4.37,4.42,4.11,4.11,00001372240,36,36,0,0,0.52
5200,5200,53863029,2024-12-25,city scrape,385194327,within a few hours,100%,97%,f,6,...,4.76,4.76,4.59,4.72,00001499741,2,2,0,0,1.42
5400,5400,547651688982514791,2024-12-25,city scrape,39528691,NaN,NaN,NaN,f,7,...,4.90,4.97,4.82,4.76,00001428095,1,1,0,0,2.19
5600,5600,608287352165690178,2024-12-25,city scrape,212645710,within an hour,100%,100%,NaN,14,...,4.98,4.98,4.88,4.81,00002420770,6,6,0,0,1.48
5800,5800,625340542849626018,2024-12-26,city scrape,103441129,within an hour,100%,95%,f,1,...,4.91,4.94,5.00,4.94,00001590520,1,1,0,0,1.03
6000,6000,654989678004719822,2024-12-25,city scrape,40723282,within an hour,100%,99%,f,49,...,4.40,5.00,4.60,4.20,00001627359,13,13,0,0,0.17
6200,6200,665083132669737868,2024-12-26,city scrape,419174410,NaN,NaN,NaN,f,2,...,NaN,NaN,NaN,NaN,00001658224,2,2,0,0,NaN
6400,6400,684054287285066882,2024-12-25,city scrape,472758755,within an hour,100%,80%,f,1,...,4.86,4.81,3.90,4.43,00001694470,1,1,0,0,0.75
6600,6600,713664384477134734,2024-12-25,city scrape,479065363,within an hour,80%,100%,t,3,...,5.00,5.00,4.50,5.00,1333531,3,3,0,0,0.08
6800,6800,757736030096654572,2024-12-25,city scrape,50105352,within a few hours,100%,89%,t,2,...,5.00,4.56,4.89,4.89,00000499506,1,1,0,0,0.37
7000,7000,785229421944256445,2024-12-25,city scrape,182156346,within an hour,100%,99%,f,126,...,4.86,4.86,4.36,4.21,00002436202,64,64,0,0,0.58
7200,7200,815827628809982991,2024-12-25,city scrape,19535206,within an hour,100%,100%,t,4,...,5.00,5.00,5.00,5.00,00001875013,3,3,0,0,0.05
7400,7400,840667234909721336,2024-12-25,city scrape,46086131,within an hour,100%,100%,t,20,...,4.78,4.94,4.83,4.89,00001932174,10,10,0,0,0.84
7600,7600,862702134839893810,2024-12-25,city scrape,92310506,within an hour,100%,100%,t,44,...,4.99,4.97,4.56,4.86,1970744,42,42,0,0,4.59
7800,7800,879506068255612972,2024-12-26,city scrape,1418201,within an hour,100%,99%,t,40,...,5.00,4.75,4.25,4.75,00001855223,39,39,0,0,0.29
8000,8000,886648140218450320,2024-12-25,city scrape,29774879,within a few hours,100%,86%,f,1,...,4.60,4.60,3.20,4.80,23046404598,1,1,0,0,0.27
8200,8200,903350537849392205,2024-12-25,city scrape,140266135,within an hour,100%,100%,f,1,...,5.00,5.00,4.86,4.86,00002520374,1,1,0,0,1.00
8400,8400,909984502480753103,2024-12-25,city scrape,1856860,a few days or more,30%,28%,f,2,...,5.00,5.00,5.00,5.00,Exempt,2,1,1,0,0.15
8600,8600,922223082884509543,2024-12-25,city scrape,136715500,within a few hours,100%,100%,f,2,...,4.46,4.77,3.46,4.46,00002225250,1,1,0,0,0.76
8800,8800,940425694442161114,2024-12-25,city scrape,113548208,within an hour,100%,100%,NaN,237,...,NaN,NaN,NaN,NaN,00002232136,90,90,0,0,NaN
9000,9000,958616226047163615,2024-12-26,city scrape,3296820,within an hour,100%,96%,t,58,...,NaN,NaN,NaN,NaN,00002217000,56,56,0,0,NaN
9200,9200,979351686708585287,2024-12-26,city scrape,57151032,within an hour,100%,91%,f,8,...,4.43,4.57,4.86,4.00,00002569408,7,7,0,0,0.47
9400,9400,998974724186588039,2024-12-26,city scrape,541195285,within an hour,100%,100%,t,2,...,4.91,5.00,5.00,4.91,00003075604,2,2,0,0,1.19
9600,9600,1022536528272966271,2024-12-25,city scrape,545765412,within an hour,100%,100%,t,5,...,5.00,5.00,4.88,4.75,00002348956,5,5,0,0,0.62
9800,9800,1031046368966216523,2024-12-25,city scrape,180724995,within a few hours,100%,95%,f,16,...,4.00,5.00,4.67,4.33,00002367234,5,3,2,0,0.29

In [9]:
#Los tipos de cuarto enteros y privados 
filtro5=df[(df["room_type"] == "Entire home/apt") | (df["room_type"] == "Private room")]

filtro5.to_csv("Filtro5.csv")
filtro5

,Unnamed: 0,id,last_scraped,source,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,27262,2024-12-25,city scrape,37177,within an hour,100%,100%,t,4,...,4.86,4.97,4.75,4.71,00002433111,1,1,0,0,0.19
1,1,809874,2024-12-25,city scrape,4259738,within an hour,100%,96%,f,2,...,4.89,4.92,4.86,4.91,00001240742,1,1,0,0,0.68
2,2,866381,2024-12-25,city scrape,4551671,within a few hours,100%,97%,t,1,...,4.93,4.93,4.73,4.90,00002608390,1,1,0,0,0.28
3,3,886724,2024-12-25,city scrape,4700824,NaN,NaN,0%,f,1,...,4.88,4.89,4.28,4.72,00000052101,1,1,0,0,0.14
4,4,896212,2024-12-25,city scrape,4777984,within an hour,95%,100%,t,29,...,4.97,4.93,4.82,4.93,00000206136,13,13,0,0,3.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14637,14637,1318251942056598277,2024-12-26,city scrape,25811452,within an hour,100%,100%,t,3,...,NaN,NaN,NaN,NaN,00003108542,3,3,0,0,NaN
14638,14638,1318276742106864141,2024-12-25,city scrape,666320836,within a few hours,100%,NaN,f,2,...,NaN,NaN,NaN,NaN,00002888548,1,1,0,0,NaN
14639,14639,1318307768558324736,2024-12-25,city scrape,221534605,within a few hours,86%,98%,f,53,...,NaN,NaN,NaN,NaN,00002764099,23,23,0,0,NaN
14640,14640,1318405788507138933,2024-12-25,city scrape,650411545,NaN,NaN,NaN,f,1,...,NaN,NaN,NaN,NaN,00003072289,1,1,0,0,NaN
14641,14641,1318601800941001079,2024-12-25,city scrape,31290848,within an hour,100%,100%,NaN,109,...,NaN,NaN,NaN,NaN,00003026761,70,70,0,0,NaN

In [10]:
#Los registros que a lo mucho tengan 4 camas
filtro6=df[(df["beds"] == 1) | (df["beds"] == 2) | (df["beds"] == 3) | (df["beds"] == 4)]

filtro6.to_csv("Filtro6.csv")
filtro6

,Unnamed: 0,id,last_scraped,source,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,27262,2024-12-25,city scrape,37177,within an hour,100%,100%,t,4,...,4.86,4.97,4.75,4.71,00002433111,1,1,0,0,0.19
1,1,809874,2024-12-25,city scrape,4259738,within an hour,100%,96%,f,2,...,4.89,4.92,4.86,4.91,00001240742,1,1,0,0,0.68
2,2,866381,2024-12-25,city scrape,4551671,within a few hours,100%,97%,t,1,...,4.93,4.93,4.73,4.90,00002608390,1,1,0,0,0.28
3,3,886724,2024-12-25,city scrape,4700824,NaN,NaN,0%,f,1,...,4.88,4.89,4.28,4.72,00000052101,1,1,0,0,0.14
4,4,896212,2024-12-25,city scrape,4777984,within an hour,95%,100%,t,29,...,4.97,4.93,4.82,4.93,00000206136,13,13,0,0,3.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14637,14637,1318251942056598277,2024-12-26,city scrape,25811452,within an hour,100%,100%,t,3,...,NaN,NaN,NaN,NaN,00003108542,3,3,0,0,NaN
14638,14638,1318276742106864141,2024-12-25,city scrape,666320836,within a few hours,100%,NaN,f,2,...,NaN,NaN,NaN,NaN,00002888548,1,1,0,0,NaN
14639,14639,1318307768558324736,2024-12-25,city scrape,221534605,within a few hours,86%,98%,f,53,...,NaN,NaN,NaN,NaN,00002764099,23,23,0,0,NaN
14640,14640,1318405788507138933,2024-12-25,city scrape,650411545,NaN,NaN,NaN,f,1,...,NaN,NaN,NaN,NaN,00003072289,1,1,0,0,NaN
14641,14641,1318601800941001079,2024-12-25,city scrape,31290848,within an hour,100%,100%,NaN,109,...,NaN,NaN,NaN,NaN,00003026761,70,70,0,0,NaN

In [11]:
#Los registros que sean superhosts
filtro7=df[df["host_is_superhost"] == "t"]

filtro7.to_csv("Filtro7.csv")
filtro7

,Unnamed: 0,id,last_scraped,source,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,27262,2024-12-25,city scrape,37177,within an hour,100%,100%,t,4,...,4.86,4.97,4.75,4.71,00002433111,1,1,0,0,0.19
2,2,866381,2024-12-25,city scrape,4551671,within a few hours,100%,97%,t,1,...,4.93,4.93,4.73,4.90,00002608390,1,1,0,0,0.28
4,4,896212,2024-12-25,city scrape,4777984,within an hour,95%,100%,t,29,...,4.97,4.93,4.82,4.93,00000206136,13,13,0,0,3.58
5,5,905315,2024-12-25,city scrape,4777984,within an hour,95%,100%,t,29,...,4.97,4.94,4.81,4.91,00000206001,13,13,0,0,3.53
6,6,912425,2024-12-25,city scrape,4895605,NaN,NaN,100%,t,1,...,4.97,4.97,4.61,4.84,00000348986,1,1,0,0,0.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14620,14620,1314986266535424845,2024-12-25,city scrape,194627760,within an hour,100%,100%,t,46,...,NaN,NaN,NaN,NaN,00003084042,17,17,0,0,NaN
14630,14630,1317984161119692105,2024-12-25,city scrape,509542156,within an hour,100%,100%,t,7,...,NaN,NaN,NaN,NaN,00003098511,7,7,0,0,NaN
14634,14634,1318190750706750006,2024-12-25,city scrape,23245295,within an hour,100%,100%,t,12,...,NaN,NaN,NaN,NaN,00003110313,11,11,0,0,NaN
14635,14635,1318194713882834447,2024-12-25,city scrape,400263201,within an hour,100%,85%,t,9,...,NaN,NaN,NaN,NaN,00002981356,2,2,0,0,NaN
14637,14637,1318251942056598277,2024-12-26,city scrape,25811452,within an hour,100%,100%,t,3,...,NaN,NaN,NaN,NaN,00003108542,3,3,0,0,NaN

In [12]:
#Los registros de las columnas impares
filtro8 =df.iloc [ :, 1::2] #columnas consecutivas  rango que yo quiera impar 


filtro8.to_csv("Filtro8.csv")
filtro8

,id,source,host_response_time,host_acceptance_rate,host_listings_count,host_verifications,latitude,property_type,accommodates,bedrooms,...,availability_30,availability_90,number_of_reviews,number_of_reviews_l30d,review_scores_accuracy,review_scores_checkin,review_scores_location,license,calculated_host_listings_count_entire_homes,calculated_host_listings_count_shared_rooms
0,27262,city scrape,within an hour,100%,4,"['email', 'phone']",37.989240,Entire rental unit,2,1.0,...,20,80,29,0,4.89,4.86,4.75,00002433111,1,0
1,809874,city scrape,within an hour,96%,2,"['email', 'phone']",37.962150,Entire rental unit,4,1.0,...,0,52,97,0,4.97,4.89,4.86,00001240742,1,0
2,866381,city scrape,within a few hours,97%,1,"['email', 'phone', 'work_email']",37.955230,Entire condo,3,1.0,...,3,18,40,1,4.98,4.93,4.73,00002608390,1,0
3,886724,city scrape,NaN,0%,1,['email'],37.997450,Entire rental unit,2,1.0,...,28,88,18,0,4.88,4.88,4.28,00000052101,1,0
4,896212,city scrape,within an hour,100%,29,"['email', 'phone']",37.988440,Entire rental unit,2,1.0,...,13,21,515,2,4.94,4.97,4.82,00000206136,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14637,1318251942056598277,city scrape,within an hour,100%,3,"['email', 'phone']",37.979336,Entire rental unit,4,1.0,...,28,88,0,0,NaN,NaN,NaN,00003108542,3,0
14638,1318276742106864141,city scrape,within a few hours,NaN,2,['phone'],37.992753,Entire condo,2,1.0,...,30,90,0,0,NaN,NaN,NaN,00002888548,1,0
14639,1318307768558324736,city scrape,within a few hours,98%,53,"['email', 'phone', 'work_email']",37.983118,Entire rental unit,2,2.0,...,30,90,0,0,NaN,NaN,NaN,00002764099,23,0
14640,1318405788507138933,city scrape,NaN,NaN,1,"['email', 'phone']",37.984651,Entire rental unit,4,1.0,...,30,90,0,0,NaN,NaN,NaN,00003072289,1,0
14641,1318601800941001079,city scrape,within an hour,100%,109,"['email', 'phone', 'work_email']",37.968246,Entire condo,3,1.0,...,30,90,0,0,NaN,NaN,NaN,00003026761,70,0